.form {
  width: 100%;
  max-width: 550px;
  gap: $space-big;

  .input-holder {
    display: flex;
    flex-direction: column;
    gap: $space-small;

    input {
      height: 50px;
      border: none;
      border-radius: 10px;
      background: rgba(128, 128, 128, 0.1);
      padding: 0 $space-medium;
      line-height: 50px;
    }

    textarea {
      height: 150px;
      border: none;
      border-radius: 10px;
      background: rgba(128, 128, 128, 0.1);
      padding: $space-small;
      overflow: scroll;
    }
  }

  input[type="submit"] {
    width: 100%;
    border: none;
  }
}
