.view-category {
  width: 100%;
  color: black;
  padding: $space-x-big;
  gap: $space-big;

  h1 {
    font-size: $h1-admin;
    text-align: center;
  }

  .button-holder {
    height: 50px;
    gap: $space-big;
    align-items: flex-end;

    a:nth-of-type(1) {
      margin-left: auto;
    }
  }

  .category-article {
    width: 100%;
    max-width: 960px;
    padding: $space-medium;
    background: rgba(128, 128, 128, 0.02);
    border: rgba(128, 128, 128, 0.4) 0.1px solid;
    border-radius: 10px;
  }

  img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
  }

  .title {
    text-transform: uppercase;
  }

  .content {
    padding: $space-medium 0;
    gap: $space-small;
  }

  .info {
    background: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    padding: $space-medium;
  }
}
