.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  height: 80px;
  width: 100%;
  padding: 0 $space-big;
  background-color: rgba(0, 0, 0, 0.8);

  .logo {
    height: 60px;
  }

  .links {
    margin-left: auto;
    display: flex;
    gap: $space-x-big;
  }

  a {
    font-size: 20px;
  }
}
