.form {
  gap: $space-big;

  h1 {
    font-size: 30px;
    text-align: center;
  }

  .input-holder {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      width: 180px;
      height: 35px;
    }

    textarea {
      width: 180px;
      height: 50px;
    }
  }

  input[type="submit"] {
    width: 100%;
    border: none;
  }
}
