//Colors
$color-yellow: #ffbb00;
$color-pale-yellow: #cbb475;
$color-brown: #382527;
$color-red: #ff5f3c;
$color-blue: #1a73e8;

//Font-Size
$paragraph-mobile: 15px;
$paragraph-small-mobile: 12px;
$paragraph-x-small-mobile: 10px;
$paragraph-desktop: 17px;
$paragraph-small-desktop: 15px;
$paragraph-x-small-desktop: 10px;

// Spacing
$space-small: 8px;
$space-medium: 16px;
$space-big: 24px;
$space-x-big: 32px;

// Media queries
$media-big-phones: 550px;
$media-tablet: 750px;
$media-desktop: 1280px;
