.primary,
.primary-button {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: $color-blue;
  line-height: 40px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.primary[disabled],
.primary-button[disabled] {
  cursor: not-allowed;
}

.button-holder {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 32px;
  color: rgba(128, 128, 128, 0.4);
}

.edit-icon {
  font-size: 30px;
  color: rgba(128, 128, 128, 0.4);
}

.delete-icon {
  font-size: 28px;
  color: $color-red;
}

.back-icon {
  font-size: 32px;
  color: rgba(128, 128, 128, 0.4);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  display: block;
}
